.navbar{
    display: flex;
    justify-content: space-between;
    background-color:#16113a ;
   
    
}

.searchicon{
    display: flex;
    align-items: center;
    text-align: center;
    
    
}
.navbarapp{
    display: none;
}
.itemdata{
    color: white;
}


@media (min-width:200px) and (max-width:500px){
    
    .navbarapp{
        display: block;
    }
    .navbarwebsite{
    display: none;
    }
}